lamorel_args:
  log_level: info
  llm_configs:
    main_llm:
      handler: hf_llm
      constructor_kwargs:
      model_type: seq2seq
      model_path: t5-small
      pretrained: true
      minibatch_size: 192
      pre_encode_inputs: false
      load_in_4bit: false
      allow_subgraph_use_whith_gradient: false
      synchronize_gpus_after_scoring: false
      empty_cuda_cache_after_scoring: false
  distributed_setup_args:
    backend: gloo
    init_timeout: 120
    timeout: 1800
    multinode: false
    multinode_args:
      main_process_ip: 127.0.0.1
      main_process_port: 25000
      experiment_id: 0
    n_rl_processes: 1
    llm_processes:
      main_llm:
        n_processes: 1
        devices_per_process: [ 'cpu' ]  # either "cpu" or list of gpu ids
        ddp_kwargs:
rl_script_args:
  path: ???
  use_env_description: true
  n_tasks: 5
  termination_str: "done()"
  plot_saycan: false
  use_actions_in_env: false
